@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'primeicons/primeicons.css';

:root {
  /* Primary Palette (adjust these if you have a separate primary palette) */
  --p-primary-50: #f8fafc;
  --p-primary-100: #f1f5f9;
  --p-primary-200: #e2e8f0;
  --p-primary-300: #cbd5e1;
  --p-primary-400: #94a3b8;
  --p-primary-500: #64748b;
  --p-primary-600: #475569;
  --p-primary-700: #334155;
  --p-primary-800: #1e293b;
  --p-primary-900: #0f172a;
  --p-primary-950: #01030a;

  /* Surface Palette */
  --p-surface-0: #ffffff;
  --p-surface-50: #f8fafc;
  --p-surface-100: #f1f5f9;
  --p-surface-200: #e2e8f0;
  --p-surface-300: #cbd5e1;
  --p-surface-400: #94a3b8;
  --p-surface-500: #64748b;
  --p-surface-600: #475569;
  --p-surface-700: #334155;
  --p-surface-800: #1e293b;
  --p-surface-900: #0f172a;
  --p-surface-950: #01030a;

  /* Content Border Radius */
  --p-content-border-radius: 6px;

  /* table */
  --p-datatable-body-cell-padding-alt: 4px;

  /* Light Mode */
  --p-primary-color: var(--p-primary-950);
  --p-primary-contrast-color: var(--p-surface-0);
  --p-primary-hover-color: var(--p-primary-600);
  --p-primary-active-color: var(--p-primary-700);

  --p-content-border-color: var(--p-surface-200);
  --p-content-hover-background: var(--p-surface-100);
  --p-content-hover-color: var(--p-surface-800);

  --p-highlight-background: var(--p-primary-50);
  --p-highlight-color: var(--p-primary-700);
  --p-highlight-focus-background: var(--p-primary-100);
  --p-highlight-focus-color: var(--p-primary-800);

  --p-text-color: var(--p-surface-700);
  --p-text-hover-color: var(--p-surface-800);
  --p-text-muted-color: var(--p-surface-500);
  --p-text-hover-muted-color: var(--p-surface-600);
}

/* Dark Mode */
:root.p-dark {
  --p-primary-color: var(--p-primary-50);
  --p-primary-contrast-color: var(--p-surface-900);
  --p-primary-hover-color: var(--p-primary-300);
  --p-primary-active-color: var(--p-primary-200);

  --p-content-border-color: var(--p-surface-700);
  --p-content-hover-background: var(--p-surface-800);
  --p-content-hover-color: var(--p-surface-0);

  --p-highlight-background: color-mix(in srgb, var(--p-primary-400), transparent 84%);
  --p-highlight-color: rgba(255, 255, 255, 0.87);
  --p-highlight-focus-background: color-mix(in srgb, var(--p-primary-400), transparent 76%);
  --p-highlight-focus-color: rgba(255, 255, 255, 0.87);

  --p-text-color: var(--p-surface-0);
  --p-text-hover-color: var(--p-surface-0);
  --p-text-muted-color: var(--p-surface-400);
  --p-text-hover-muted-color: var(--p-surface-300);
}

body {
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Inter var, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  font-size: 14px;
}

.router-link-exact-active, .router-link-active {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: color-mix(in srgb, var(--p-surface-800) calc(100% * var(--tw-bg-opacity)), transparent);
}

.breadcrump .router-link-exact-active, .error .router-link-exact-active {
  color: var(--p-primary-color);
  background-color: #00000000;
}

/* Fade transition */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* Slide transition */
.slide-enter-active {
  transition: all 0.9s ease;
  transform: translate3d(0, 0, 0);
}

.slide-enter-from {
  opacity: 0;
  transform: translateY(30px);
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.3s ease-in;
}

.slide-fade-enter-from,
.slide-fade-leave-to 
 {
  opacity: 0;
  transform: translateY(-20px);
}

.rotate-90 {
  transform: rotate(90deg);
}

.-rotate-90 {
  transform: rotate(-90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.-rotate-180 {
  transform: rotate(-180deg);
}

.rotate-270 {
  transform: rotate(270deg);
}

.-rotate-270 {
  transform: rotate(-270deg);
}

.rotate-270 {
  transform: rotate(270deg);
}

.-rotate-360 {
  transform: rotate(-360deg);
}

.full-sidebar #app-sidebar {
  width: 280px;
}

.full-sidebar .pr-content {
  margin-left: 280px;
}

.full-sidebar #app-sidebar .links {
  display: block;
}

.slim .pr-content {
  margin-left: 4rem;
}

.slim #app-sidebar {
  width: 4rem;
}

.slim #app-sidebar span {
  display: none;
}

.slim #app-sidebar ul li ul li span {
  display: block;
}

.menu-active {
  display: block;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Adjust size as needed */
  width: 200px;
  height: 100px; 
}

.loading-ring {
  border: 4px solid #f3f3f3; /* Light grey */
  border-radius: 50%;
  border-top: 4px solid #222222; /* Blue */
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg);
 }
}

/**
 * Header
 */

.profile {
  position: fixed !important;
}

.p-popover.profile::before {
  margin-left: calc(0.2 * var(--p-popover-gutter));
}

.p-popover.profile::after {
  margin-left: calc(0.5 * (var(--p-popover-gutter) - 2px));
}

.p-datatable-header-cell {
  border-width: 0 0 2px 0 !important;
}